.DS_Store
.idea
.git
history.txt
/alacritty/colors.toml
/cava/config
/ghostty/themes/wallust.conf
/hypr/monitors.conf
/hypr/themes/wallust.conf
/rofi/wallust/colors-rofi.rasi
/waybar/wallust/colors-wallust.css

**/plugins

**/.config/nvim/LICENSE
**/.config/nvim/README.md
**/.config/nvim/lazy-lock.json
**/.config/nvim/lazyvim.json
**/.config/nushell/history.txt
