.DS_Store
.idea
.git
history.txt
**/.config/alacritty/colors.toml
**/.config/cava/config
**/.config/ghostty/themes/wallust.conf
**/.config/hypr/monitors.conf
**/.config/hypr/themes/wallust.conf
**/.config/rofi/wallust/colors-rofi.rasi
**/.config/waybar/wallust/colors-wallust.css

**/plugins

**/.config/nvim/LICENSE
**/.config/nvim/README.md
**/.config/nvim/lazy-lock.json
**/.config/nvim/lazyvim.json
**/.config/nushell/history.txt
