* {
    selected-text:	#3C4040;
    selected-background: #3C749D;

    prompt-text: #3C4040;
    prompt-background: transparent;

    normal-text: #BED4E6;
    normal-background: transparent;

    window-border: #3C749D;
    window-background: #4685B60D;

    scrollbar-filled: #3C749D;
    scrollbar-empty: #3C4040;

    error-message: #9ABAD2;
    error-message-border: #9ABAD2;
}
