* {
    selected-text:	#434546;
    selected-background: #97CFDF;

    prompt-text: #434546;
    prompt-background: transparent;

    normal-text: #F6ECCE;
    normal-background: transparent;

    window-border: #97CFDF;
    window-background: #E5C8730D;

    scrollbar-filled: #97CFDF;
    scrollbar-empty: #434546;

    error-message: #EADBB0;
    error-message-border: #EADBB0;
}
