* {
    selected-text:	#3C3942;
    selected-background: #D1AEC9;

    prompt-text: #3C3942;
    prompt-background: transparent;

    normal-text: #E4F7FB;
    normal-background: transparent;

    window-border: #D1AEC9;
    window-background: #B2E7F30D;

    scrollbar-filled: #D1AEC9;
    scrollbar-empty: #3C3942;

    error-message: #D0EAF1;
    error-message-border: #D0EAF1;
}
